<!DOCTYPE html>
<html>
<head>
  <title>Cubeshark Music and Audio Production</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js" integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/src/style.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.2/velocity.min.js"></script>
</head>
<body>
  <div id="app">

    <div id="fadeIn"></div>

    <div id="header">
      <div class="logotitle">
        <a class="logo"><img src="/img/CSOutline.svg" alt=""></a>
        <div class="title">CUBESHARK</div>
      </div>
      <div class="navigation">
        <div class="h_item">
          <a class="nav_link" @click="showAbout">About</a>
        </div>
        <div class="h_item">
          <a class="nav_link" @click="showContact">Contact</a>
        </div>
      </div>
    </div>

    <div id="player" style="display:none">
      <div id="custompause" class="hidden" @click="togglePlaying"><i class="fas fa-pause"></i></div>
      <transition name="infofade">
        <div id="hackmask" v-if="firstStart == false"></div>
      </transition>
      <div id="playerframe">
        <iframe id="iframe" onload="console.log('loaded')" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay"
          src="https://w.soundcloud.com/player/?url=null"
        src=""></iframe>
      </div>
    </div>

    <!-- <div id="itunes">
      <div id="bigbox">
        <div class="bigimg" style="background-image:url('http://placehold.it/1920x1080/252525/FFFFFF')"></div>
      </div>
      <div id="music">
        <div class="soundBox">
          <div class="soundLink">
            <a @click="loadTrack('https://soundcloud.com/cubeshark/unused-tv-intro', $event)"><i class="playbutton fas fa-play"></i></a>
          </div>
        </div>
        <div class="soundBox">
          <div class="soundLink">
            <a @click="loadTrack('https://soundcloud.com/cubeshark/grace', $event)"><i class="playbutton fas fa-play"></i></a>
          </div>
        </div>
      </div>
    </div> -->

    <div id="simpleTunes">
      <div id="music">
        <div class="soundBoxWrap" v-for="(track, index) in tracks">
          <div class="soundBox">
            <div class="soundLink">
              <a @click="loadTrack('https://soundcloud.com/cubeshark/', index), toggleDescription(index, true)">
                <i class="playbutton fas fa-play"></i>
              </a>
            </div>
            <div class='trackTitle' @click="toggleDescription(index, false)">
              <span>{{track.title}}</span>
            </div>
            <div class="trackCategory"><span>{{track.cat}}</span></div>
          </div>
          <transition name="descslide">
            <div class="trackDesc" v-show="track.showDesc">
              <img v-if="track.image != null" :src=track.image alt="">
              <p>{{track.desc}}</p>
            </div>
          </transition>
        </div>
      </div>
    </div>

    <transition name="infofade">
      <div id="about" class="infoContainer" v-if="aboutBox == true" v-on:click="hideAbout">
        <div class="infoBox" v-on:click.stop>
          <div class="closeInfo" v-on:click="hideAbout"><i class="fas fa-window-close"></i></div>
          <div class="md">
            <img src="/img/portrait.jpg" alt="" class="infoPortrait">
            <h1>
              <!-- <span><img style="height: 50px; padding: 0px 15px" src="/img/CSOutline_invert.svg" alt=""></span> -->
              CUBESHARK MUSIC & SOUND DESIGN
            </h1>
            <p>Cubeshark is the musical alias of <b>Kyle Yount</b>, an electronic producer, composer, and sound designer. Having grown up in the Pacific Northwest, he is influenced by technology and nature, exhibiting a unique melodic and emotionally expressive style. He is a long-time user of Propellerheads Reason to produce music and has a certification in Sound Design from Berklee College of music in said program. Kyle produces music not only for listening but also for other media such as film and video games. The list on this site is a curated selection of his work a full list including older and unfinished pieces can be found on his SoundCloud page.</p>
            <div class="visitSC"><a href="https://soundcloud.com/cubeshark"><i class="fab fa-soundcloud"></i>&nbsp Visit SoundCloud</a></div>
          </div>
        </div>
      </div>
    </transition>

    <transition name="infofade">
      <div id="contact" class="infoContainer" v-if="contactBox == true" v-on:click="hideContact">
        <div class="infoBox shorter" v-on:click.stop>
          <div class="closeInfo" v-on:click="hideContact"><i class="fas fa-window-close"></i></div>
          <div class="md" style="text-align:center">
            <h2>For all inquiries, please email:</h2>
            <h1 style="margin:2rem 0rem"><a style="text-decoration:none;color:#F6F6F6" href="mailto:kyle@cubeshark.net">kyle@cubeshark.net</a></h1>
          </div>
        </div>
      </div>
    </transition>

    <div id="footer">
      <div class="social">
        <div class="s_item">
          <a href="https://www.facebook.com/cubeshark/"><i class="fab fa-facebook"></i></a>
        </div>
        <div class="s_item">
          <a href="https://twitter.com/cubeshark"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="s_item">
          <a href="https://cubeshark.bandcamp.com/"><i class="fab fa-bandcamp"></i></a>
        </div>
        <div class="s_item">
          <a href="https://soundcloud.com/cubeshark"><i class="fab fa-soundcloud"></i></a>
        </div>
      </div>
    </div>

  </div>
  <script src="https://w.soundcloud.com/player/api.js"></script>
  <script src="/src/script.js"></script>
</body>
</html>
