@import "./_include-media.scss"

// @font-face
//   font-family: 'Rubik', sans-serif
//   src: url('https://fonts.googleapis.com/css?family=Rubik:300,400,500')
//   font-weight: 400
//   font-style: normal

//green tones
// $lightcolor: #c6dec0
// $neutralcolor: #8acd94
// $darkcolor: #63a088
// $bgcolor: mix(#252525, #0e4b60, 80)

//dark grey tones
// $lightcolor: #F6F6F6
// $neutralcolor: #F6F6F6
// $darkcolor: #666666
// $bgcolor: #252525

//light grey tones
$lightcolor: #252525
$neutralcolor: #252525
$darkcolor: #CCCCCC
$bgcolor: #FFFFFF
$accentcolor: #8acd94

$headerheight: 70px
$footerheight: 50px

$contentmargin: $headerheight + 20px

$breakpoints: (small: 420px, medium: 768px, large: 1024px)

html
  width: 100%
  height: 100%
  background-color: $bgcolor

body
  font-family: 'Rubik'
  width: 100%
  height: 100%
  min-width: 360px
  margin: 0
  font-size: 16px
  background-color: $bgcolor
  color: $lightcolor


h1
  font-size: 2.5em
  font-weight: 500
  margin: 0px

h2
  font-size: 2em
  font-weight: 400
  margin: 0px

p
  font-size: 1em
  font-weight: 300

#header
  display: block
  position: fixed
  top: 0px
  width: 100%
  z-index: 101
  height: $headerheight
  pointer-events: none
  background-color: $bgcolor

.logotitle
  display: flex
  position: absolute
  height: 100%
  width: 100%
  justify-content: center

  .logo
    display: flex
    align-items: center
    margin: 0px 0.8em

    img
      height: 52px
      width: auto
      align-items: center

  .title
    display: flex
    color: $lightcolor
    font-size: 1.7rem
    font-weight: 300
    letter-spacing: 0.2em
    align-items: center

.navigation
  display: flex
  position: absolute
  right: 0
  height: 100%
  width: 200px
  justify-content: flex-end
  flex-direction: column

  .h_item
    display: flex
    height: 100%
    align-items: center
    justify-content: flex-end

    a.nav_link
      pointer-events: all
      text-decoration: none
      color: $bgcolor
      background-color: $neutralcolor
      font-size: 0.8rem
      font-weight: 300
      letter-spacing: 0.2em
      // transform: scaleY(0.9)
      cursor: pointer
      padding: 0.2em


#footer
  display: block
  position: fixed
  height: $footerheight
  bottom: 20px
  width: 100%
  pointer-events: none
  background: linear-gradient(to top, rgba($bgcolor, 1) 0%, rgba($bgcolor, 1) 50%, rgba($bgcolor, 0) 100%)


.social
  display: flex
  width: 100%
  height: 100%
  max-width: 500px
  margin: 0 auto
  justify-content: center
  box-sizing: border-box
  font-size: 1.1rem

  .s_item
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    max-width: 4em

    a
      pointer-events: all
      font-size: 1.4em
      text-decoration: none
      color: $lightcolor


#fadeIn
  display: block
  position: fixed
  width: 100%
  height: 100%
  z-index: 10000
  background-color: $bgcolor
  pointer-events: none

.infoContainer
  display: block
  position: fixed
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  z-index: 100
  margin: 0 auto
  padding: 0px 20px
  box-sizing: border-box
  // background-color: transparentize($lightcolor, 0.5)

  .infoBox
    display: block
    position: relative
    width: 100%
    max-width: 600px
    // height: calc(90% - #{$contentmargin} - #{$footerheight} - 40px)
    // min-height: 250px
    margin-top: $contentmargin
    margin-bottom: $footerheight + 20px
    margin-left: auto
    margin-right: auto
    background-color: $lightcolor
    color: $bgcolor
    border: 2px solid $neutralcolor
    box-sizing: border-box
    box-shadow: 40px 40px 0px 0px rgba($lightcolor, 0.2)
    overflow-x: hidden

    // &.shorter
    //   height: 200px

    .md
      display: block
      // position: absolute
      width: 100%
      height: calc(100% - 4em)
      padding: 0em 1em
      padding-bottom: 2em
      box-sizing: border-box
      overflow-y: auto
      font-size: 1em
      @include media("<600px")
        font-size: 0.8em
      @include media("<small")
        font-size: 0.6em

      p
        font-size: 1rem
        // @include media("<small")
        //   font-size: 0.8rem

      .visitLinks
        display: flex
        width: 100%
        height: 3em
        padding-top: 0.7em
        justify-content: flex-start

        a
          display: flex
          background-color: $bgcolor
          color: $lightcolor
          padding: 1em
          font-size: 1.3em
          box-sizing: border-box
          align-items: center
          border-radius: 0.2em
          text-decoration: none
          margin-right: 1em
          cursor: pointer

    .infoPortrait
      height: 9em
      float: right
      margin-right: 1em
      margin-bottom: 1em
      margin-left: 1em
      border-radius: 1em
      border: 2px solid #F6F6F6
      @include media("<500px")
        display: none

    .closeInfo
      width: 100%
      height: 1.5em
      font-size: 2em
      margin: 0px
      text-align: right
      box-sizing: border-box
      display: block

      svg
        cursor: pointer
        padding: 0.2em

    .credits
      @extend .md
      opacity: 0.2
      position: relative
      top: 20px
      text-align: right
      font-size: 0.8em
      padding: 0em
      margin-top: 1em
      overflow-y: initial
      transition: opacity 0.3s ease-in-out
      &:hover
        opacity: 1
      a
        text-decoration: none
        background-color: $bgcolor
        color: $lightcolor
        border-radius: 50px
        padding: 0.1em 1em



@keyframes pauseFlash
  0%
    background-color: $lightcolor
  100%
    background-color: $accentcolor

#player
  display: block
  position: fixed
  bottom: 0px
  left: -20px
  height: 20px
  width: calc(100% + 100px + 20px)
  // overflow-x: hidden
  background-color: $bgcolor
  z-index: 100

  #hackmask
    display: block
    position: absolute
    width: 100%
    height: 100%
    background-color: $bgcolor
    z-index: 102

  #custompause
    display: block
    opacity: 1
    position: fixed
    bottom: 28px
    left: 8px
    width: 40px
    height: 40px
    background-color: $lightcolor
    transition: opacity 0.5s
    cursor: pointer
    border-radius: 3px
    z-index: 101

    &.hidden
      pointer-events: none
      opacity: 0
      width: 0px
      height: 0px

    &.mobileFlash
      animation: pauseFlash
      animation-duration: 0.8s
      animation-direction: alternate
      animation-iteration-count: infinite

    svg
      color: $bgcolor
      font-size: 1.5em
      position: relative
      top: 50%
      left: 50%
      transform: translateY(-50%) translateX(-50%)

#itunes
  display: flex
  position: absolute
  width: 100%
  height: calc(100% - #{$contentmargin} - #{$footerheight})
  min-height: 200px
  margin-top: $contentmargin
  flex-direction: row
  @include media("<=medium")
    flex-direction: column

#simpleTunes
  display: flex
  position: absolute
  width: 100%
  min-width: 360px
  // height: calc(100% - #{$contentmargin} - #{$footerheight})
  margin-top: $contentmargin
  flex-direction: row
  justify-content: center

#bigbox
  display: block
  position: relative
  width: 100%
  height: 100%
  box-sizing: border-box
  @include media("<=medium")
    height: 50%

  .bigimg
    width: 100%
    height: 100%
    background-size: cover
    background-position: center

#music
  display: flex
  width: 100%
  // height: 100%
  min-width: 400px
  flex-basis: 400px
  flex-direction: column
  margin-bottom: $footerheight + 50px
  @include media("<=medium")
    // height: 50%

  .soundBoxWrap
    border-bottom: 1px solid #DDDDDD
    &:last-child
      border-bottom: none

    .soundBox
      display: flex
      width: 100%
      height: 50px
      padding: 10px
      box-sizing: border-box
      flex-wrap: wrap
      transition: background-color 0.3s ease-in-out
      &:hover
        background-color: $accentcolor

      .soundLink
        display: flex
        // width: 100%
        height: 100%
        max-width: 50px
        max-height: 50px
        margin-right: 20px
        margin-left: 20px
        box-sizing: border-box
        align-items: center

        a
          display: block
          width: 100%
          height: 100%
          text-decoration: none
          color: $neutralcolor
          cursor: pointer

          svg
            font-size: 1em
            position: relative
            top: 50%
            left: 50%
            transform: translateY(-50%) translateX(-50%)

      .trackCategory
        display: flex
        height: 100%

        span
          display: flex
          font-size: 0.7em
          font-weight: 300
          align-items: center

      .trackTitle
        display: flex
        height: 100%
        flex-grow: 1
        max-height: 50px
        // margin-left: 20px
        cursor: pointer
        transition: color 0.1s ease-in-out

        span
          display: flex
          font-size: 1em
          align-items: center
          font-weight: 400

    .trackDesc
      display: block
      width: 100%
      height: 100%
      max-height: 300px
      overflow-y: hidden

      p
        margin: 0px
        padding: 1rem

    img
      display: inline-block
      max-width: 130px
      float: left
      margin: 15px

  .soundBoxWrap.announcement

    .soundBox
      background-color: #ffe99b

      .trackTitle
        justify-content: center

        span
          font-weight: 500
          color: $lightcolor

    .trackDesc
      background-color: #fef8d6

      p
        color: $lightcolor
        font-weight: 500

      a
        text-decoration: none
        background-color: $lightcolor
        color: #fef8d6
        border-radius: 50px
        padding: 0.2em 1em

/* VUE TRANSITIONS */

//infofade
.infofade-enter-active, .infofade-leave-active
  transition: opacity 0.3s

.infofade-enter, .infofade-leave-to
  opacity: 0

//descslide
.descslide-enter-active, .descslide-leave-active
  transition: max-height 0.5s ease-in-out

.descslide-enter, .descslide-leave-to
  max-height: 0px !important

/*********/
