@import "./_include-media.scss"

@font-face
  font-family: 'Rubik', sans-serif
  src: url('https://fonts.googleapis.com/css?family=Rubik:300,400,500')

//green tones
// $lightcolor: #c6dec0
// $neutralcolor: #8acd94
// $darkcolor: #63a088
// $bgcolor: mix(#252525, #0e4b60, 80)

//dark grey tones
// $lightcolor: #F6F6F6
// $neutralcolor: #F6F6F6
// $darkcolor: #666666
// $bgcolor: #252525

//light grey tones
$lightcolor: #252525
$neutralcolor: #252525
$darkcolor: #CCCCCC
$bgcolor: #FFFFFF

$headerheight: 70px
$footerheight: 50px

$contentmargin: $headerheight + 20px

$breakpoints: (small: 320px, medium: 768px, large: 1024px)

html
  width: 100%
  height: 100%
  background-color: $bgcolor

body
  font-family: 'Rubik'
  width: 100%
  height: 100%
  min-width: 380px
  margin: 0
  font-size: 16px
  background-color: $bgcolor
  color: $lightcolor


h1
  font-size: 3em
  font-weight: 500

h2
  font-size: 1.5em
  font-weight: 400

p
  font-size: 1em
  font-weight: 300

#header
  display: block
  position: fixed
  top: 0px
  width: 100%
  z-index: 101
  height: $headerheight
  pointer-events: none
  background-color: $bgcolor

.logotitle
  display: flex
  position: absolute
  height: 100%
  width: 100%
  justify-content: center

  .logo
    display: flex
    align-items: center
    margin: 0px 0.8em

    img
      height: $headerheight/2
      width: auto
      align-items: center

  .title
    display: flex
    color: $lightcolor
    font-size: 1rem
    font-weight: 300
    letter-spacing: 0.2em
    align-items: center

.navigation
  display: flex
  position: absolute
  right: 0
  height: 100%
  width: 200px
  justify-content: flex-end
  flex-direction: column

  .h_item
    display: flex
    height: 100%
    align-items: center
    justify-content: flex-end

    a.nav_link
      pointer-events: all
      text-decoration: none
      color: $bgcolor
      background-color: $neutralcolor
      font-size: 0.8rem
      font-weight: 300
      letter-spacing: 0.2em
      // transform: scaleY(0.9)
      cursor: pointer
      padding: 0.2em


#footer
  display: block
  position: fixed
  height: $footerheight
  bottom: 0px
  width: 100%
  z-index: 101
  pointer-events: none
  // background: linear-gradient(to top, rgba($bgcolor, 1) 0%, rgba($bgcolor, 1) 50%, rgba($bgcolor, 0) 100%)


.social
  display: flex
  width: 100%
  height: 100%
  max-width: 500px
  margin: 0 auto
  justify-content: center
  box-sizing: border-box
  font-size: 1.1rem

  .s_item
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    max-width: 4em

    a
      pointer-events: all
      font-size: 1.4em
      text-decoration: none
      color: $lightcolor


#fadeIn
  display: block
  position: fixed
  width: 100%
  height: 100%
  z-index: 10000
  background-color: $bgcolor
  pointer-events: none

.infoContainer
  display: block
  position: fixed
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  z-index: 100
  margin: 0 auto
  background-color: transparentize(darken($lightcolor, 40), 0.5)

  .infoBox
    display: block
    width: 100%
    max-width: 600px
    height: calc(100% - #{$contentmargin} - #{$footerheight} - 40px)
    margin-top: $contentmargin + 40px
    margin-bottom: $footerheight
    margin-left: auto
    margin-right: auto
    background-color: $lightcolor
    color: $bgcolor
    // border: 2px solid $neutralcolor
    box-sizing: border-box
    // box-shadow: 0px 0px 5px 5px $bgcolor

#player
  display: block
  position: fixed
  bottom: $footerheight
  left: -20px
  height: 20px
  width: calc(100% + 100px + 20px)
  overflow: hidden
  background-color: $bgcolor
  z-index: 101

  #hackmask
    display: block
    position: absolute
    width: 100%
    height: 100%
    background-color: $bgcolor
    z-index: 102

  #custompause
    display: block
    opacity: 1
    position: fixed
    bottom: 8px
    left: 8px
    width: 40px
    height: 40px
    background-color: $neutralcolor
    transition: opacity 0.5s
    cursor: pointer
    border-radius: 3px

    &.hidden
      pointer-events: none
      opacity: 0
      width: 0px
      height: 0px

    svg
      color: $bgcolor
      font-size: 1.5em
      position: relative
      top: 50%
      left: 50%
      transform: translateY(-50%) translateX(-50%)

#itunes
  display: flex
  position: absolute
  width: 100%
  height: calc(100% - #{$contentmargin} - #{$footerheight})
  min-height: 200px
  margin-top: $contentmargin
  flex-direction: row
  @include media("<=medium")
    flex-direction: column

#simpleTunes
  display: flex
  position: absolute
  width: 100%
  height: calc(100% - #{$contentmargin} - #{$footerheight})
  margin-top: $contentmargin
  flex-direction: row
  justify-content: center

#bigbox
  display: block
  position: relative
  width: 100%
  height: 100%
  box-sizing: border-box
  @include media("<=medium")
    height: 50%

  .bigimg
    width: 100%
    height: 100%
    background-size: cover
    background-position: center

#music
  display: flex
  width: 100%
  height: 100%
  min-width: 400px
  flex-basis: 400px
  flex-direction: column
  @include media("<=medium")
    height: 50%

  .soundBoxWrap
    border-bottom: 1px solid $lightcolor
    &:last-child
      border-bottom: none

    .soundBox
      display: flex
      width: 100%
      height: 70px
      padding: 10px
      box-sizing: border-box
      flex-wrap: wrap

      .soundLink
        display: flex
        width: 100%
        height: 100%
        max-width: 50px
        max-height: 50px
        box-sizing: border-box
        align-items: center

        a
          display: block
          width: 100%
          height: 100%
          text-decoration: none
          color: $neutralcolor
          cursor: pointer

          svg
            font-size: 1.5em
            position: relative
            top: 50%
            left: 50%
            transform: translateY(-50%) translateX(-50%)

      .trackTitle
        display: flex
        height: 100%
        flex-grow: 1
        max-height: 50px
        margin-left: 20px
        cursor: pointer

        span
          display: flex
          font-size: 1em
          align-items: center
          font-weight: 400

    .trackDesc
      display: block
      width: 100%
      height: 100%
      max-height: 200px
      overflow-y: hidden

      p
        margin: 0px
        padding: 1em

/* VUE TRANSITIONS */

//infofade
.infofade-enter-active, .infofade-leave-active
  transition: opacity 0.5s

.infofade-enter, .infofade-leave-to
  opacity: 0

//descslide
.descslide-enter-active, .descslide-leave-active
  transition: all 0.7s ease-in-out

.descslide-enter, .descslide-leave-to
  max-height: 0px !important

/*********/
